{% extends 'the_watering_hole/base.html' %}
{% load static %} <!-- New line -->

{% block title %}About{% endblock %}

{% block body_block %}
<div class="hero unit">
    <h1>About The Watering Hole</h1>
    <ul>
    <li type="disc">The Watering Hole is designed to find the best possible source of liquid refreshment for you within the Glasgow area! </li>
    <div> <li type="disc">Users can add their own reviews of local Watering Holes</li></div>
    <div><li type="disc">Keep up to date with the latest news</li></div>
    <div><li type="disc">And find the perfect Watering Hole for your refreshment!</li></div>
    </ul>
    <br><a href="/the_watering_hole/">Home</a>
    <br>
    Our Group:<br>
    <br><img src="{% static "group.jpg" %}" alt="Picture of Doge" /> <!-- New line -->
</div>
{% endblock %}
