{% extends 'the_watering_hole/base.html' %}
{% load static %} <!-- New line -->
{% block title %}{{ name }}{% endblock %}

{% block body_block %}
<div class="hero-unit" overflow="hidden">

    <div overflow="hidden">
    <h2>{{ bar_name }}</h2>
    {% if bar %}
         <span class="span3">
            <img src="/media/{{ photo.image }}" class="img-polaroid"/><br>
        </span>
        <span class="span3">
            <h4>
                {% if request.user == bar.owner %}
                    test
                {% endif %}
            Address: {{ bar.address }}<br><br>
            Description: {{ bar.bio }}<br><br>
            </h4>


        </span>

        <span class="span4">
          <h4>{{ bar.name }}'s ratings from {{ no_of_reviews }} reviews: </h4>
                <h5>Overall:
                {% if overall == 1 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
                {% elif overall == 2 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
                {% elif overall == 3 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
                {% elif overall == 4 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
                {% elif overall == 5 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/>
                {% endif %}

              <br> <br>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;Booze:
            {% if booze == 1 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif booze == 2 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif booze == 3 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif booze == 4 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif booze == 5 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                {% endif %}

          <br>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;Bucks:
            {% if bucks == 1 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif bucks == 2 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif bucks == 3 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif bucks == 4 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif bucks == 5 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                {% endif %}

          <br>BarStaff:
            {% if barstaff == 1 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif barstaff == 2 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif barstaff == 3 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif barstaff == 4 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif barstaff == 5 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                {% endif %}

          <br>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;Beats:
            {% if beats == 1 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif beats == 2 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif beats == 3 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif beats == 4 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif beats == 5 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                {% endif %}
            </h5></span>


    </div>

</div>

        <h3 style="clear: both;"> What does {{ bar_name }} have to offer?</h3><br>
       <h4> {{ events.news }}<br><br>

    {% if categories.food %}
        <img src="{% static "food.jpg" %}" title="Bar Food"/>
    {% endif %}
    {% if categories.big_screen %}
        <img src="{% static "big_screen.jpg" %}" title="Big Screen"/>
    {% endif %}
    {% if categories.real_ale %}
        <img src="{% static "real_ale.jpg" %}" title="Real Ale"/>
    {% endif %}
    {% if categories.beer_garden %}
        <img src="{% static "beer_garden.jpg" %}" title="Beer Garden"/>
    {% endif %}
    {% if categories.whisky_collection %}
        <img src="{% static "whisky_collection.jpg" %}" title="Whisky Collection"/>
    {% endif %}
    {% if categories.children_welcome %}
        <img src="{% static "children_welcome.jpg" %}" title="Children Welcome"/>
    {% endif %}
    {% if categories.pets_welcome %}
        <img src="{% static "pets_welcome.jpg" %}"title="Pets Welcome"/>
    {% endif %}
    {% if categories.dartboard %}
        <img src="{% static "dartboard.jpg" %}" title="Dartboard"/>
    {% endif %}
    {% if categories.pool_tables %}
        <img src="{% static "pool_table.jpg" %}" title="Pool Tables"/>
    {% endif %}
    {% if categories.games_machines %}
        <img src="{% static "games_machines.jpg" %}" title="Games Machines"/>
    {% endif %}
    {% if categories.historic %}
        <img src="{% static "historic.jpg" %}" title="Historic Bar"/>
    {% endif %}
    {% if categories.wi_fi %}
        <img src="{% static "wi_fi.jpg" %}" title="Free Wi-Fi"/>
    {% endif %}
    {% if categories.function_room %}
         <img src="{% static "function_room.jpg" %}" title="Function Room"/>
    {% endif %}
    <br><br>
        {{ events.events }}<br><br>
    </h4>
        ​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​

    <a class="btn btn-primary" href="/the_watering_hole/review_bar/{{ bar.get_bar_url }}" > Review this Bar!</a>
    {% if reviews %}

            <h3>Reviews</h3>
            {% for review in reviews %}
            <div class="review"><h5>
                Posted by <b>{{ review.poster }}</b> on {{ review.date_posted }}:<br><br>
                {{ review.text_review }}<br><br>
                <b>{{ review.poster }}</b>'s ratings:<br><br>
                <p>
                &NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;Beats: {% if review.beats == 1 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif beats == 2 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif beats == 3 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif beats == 4 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif beats == 5 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                {% endif %}<br>
                &NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;Bucks:
                {% if bucks == 1 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif bucks == 2 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif bucks == 3 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif bucks == 4 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif bucks == 5 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                {% endif %}<br>
                BarStaff:  {% if barstaff == 1 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif barstaff == 2 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif barstaff == 3 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif barstaff == 4 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif barstaff == 5 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                {% endif %}<br>
            &NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;Booze:
            {% if booze == 1 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif booze == 2 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif booze == 3 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif booze == 4 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif booze == 5 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                {% endif %}<br></h5>
                </p>
                <h4>Overall score by {{ review.poster }}:
                   {% if review.overall == 1 %}
                    <img src="{% static "MiniFullMugIcon.png" %}"/><img src="{% static "MiniEmptyMugIcon.png" %}"/><img src="
                    {% static "MiniEmptyMugIcon.png" %}"/><img src="{% static "MiniEmptyMugIcon.png" %}"/><img src="
                    {% static "MiniEmptyMugIcon.png" %}"/>
                {% elif review.overall == 2 %}
                    <img src="{% static "Mini.png" %}"/><img src="{% static "MiniFullMugIcon.png" %}"/><img src="
                    {% static "MiniEmptyMugIcon.png" %}"/><img src="{% static "MiniEmptyMugIcon.png" %}"/><img src="
                    {% static "MiniEmptyMugIcon.png" %}"/>
                {% elif review.overall == 3 %}
                    <img src="{% static "MiniFullMugIcon.png" %}"/><img src="{% static "MiniFullMugIcon.png" %}"/><img src="
                    {% static "MiniFullMugIcon.png" %}"/><img src="{% static "MiniEmptyMugIcon.png" %}"/><img src="
                    {% static "MiniEmptyMugIcon.png" %}"/>
                {% elif review.overall == 4 %}
                    <img src="{% static "MiniFullMugIcon.png" %}"/><img src="{% static "MiniFullMugIcon.png" %}"/><img src="
                    {% static "MiniFullMugIcon.png" %}"/><img src="{% static "MiniFullMugIcon.png" %}"/><img src="
                    {% static "MiniEmptyMugIcon.png" %}"/>
                {% elif review.overall == 5 %}
                    <img src="{% static "MiniFullMugIcon.png" %}"/><img src="{% static "MiniFullMugIcon.png" %}"/><img src="
                    {% static "MiniFullMugIcon.png" %}"/><img src="{% static "MiniFullMugIcon.png" %}"/><img src="
                    {% static "MiniFullMugIcon.png" %}"/>
                {% endif %}
                <br>
            {% if review.likes < 1 or review.likes > 1 %}
               <b id="like_count_{{review.id}}">{{ review.likes }}</b> likes so far
               {% else %}
                <b id="like_count_{{review.id}}">{{ review.likes }}</b> like so far
            {% endif %}
            {% if user.is_authenticated %}
                    <button id ="likes_{{review.id}}" data-catid="{{review.id}}" class="btn btn-mini btn-primary" type="button">
                    Like</button>
            {% endif %}
            </div>
            {% endfor %}



        {% else %}
            <strong>There are no reviews present for this bar.</strong>
    {% endif %}



    {% else %}
        The specified bar {{ bar_name }} does not exist!
    {% endif %}


{% endblock %}
