{% extends 'the_watering_hole/base.html' %}
{% load static %} <!-- New line -->
{% block title %}{{ name }}{% endblock %}

{% block body_block %}
<div class="hero-unit" overflow="hidden">

    <div overflow="hidden">
    <h2>{{ bar_name }}</h2>
    {% if bar %}
         <span class="span4">
            <img src="/media/{{ photo.image }}"/><br>
        </span>
        <span class="span4">
            <h4 float="right"> Owner: {{ bar.owner }}<br><br>
                {% if request.user == bar.owner %}
                    test
                {% endif %}
            Address: {{ bar.address }}<br><br>
            Description: {{ bar.bio }}<br><br>
            </h4>


        </span>
        <div style="clear:both">
            <h4>{{ bar.name }}'s ratings from {{ no_of_reviews }} reviews: </h4>
                Overall:
                {% if overall == 1 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
                {% elif overall == 2 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
                {% elif overall == 3 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
                {% elif overall == 4 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
                {% elif overall == 5 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/>
                {% endif %}

               <br>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;Booze:
            {% if booze == 1 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif booze == 2 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif booze == 3 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif booze == 4 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif booze == 5 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                {% endif %}

          <br>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;Bucks:
            {% if bucks == 1 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif bucks == 2 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif bucks == 3 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif bucks == 4 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif bucks == 5 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                {% endif %}

          <br>BarStaff:
            {% if barstaff == 1 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif barstaff == 2 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif barstaff == 3 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif barstaff == 4 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif barstaff == 5 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                {% endif %}

          <br>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;Beats:
            {% if beats == 1 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif beats == 2 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif beats == 3 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif beats == 4 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "EmptyShotIcon.png" %}"/>
                {% elif beats == 5 %}
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                <img src="{% static "FullShotIcon.png" %}"/>
                {% endif %}

        </div>

    </div>

</div>

        <h3 style="clear: both;"> What does {{ bar_name }} have to offer?</h3><br>
       <h4> <marquee behavior="scroll" direction="left" onmouseover="this.stop();"
                                          onmouseout="this.start();">{{ events.news }}</marquee><br><br>

    {% if categories.food %}
        Food<br>
    {% endif %}
    {% if categories.big_screen %}
        Big Screen<br>
    {% endif %}
    {% if categories.real_ale %}
        Real Ale<br>
    {% endif %}
    {% if categories.beer_garden %}
        Beer Garden<br>
    {% endif %}
    {% if categories.whisky_collection %}
        Whisky Collection<br>
    {% endif %}
    {% if categories.children_welcome %}
        Children Welcome<br>
    {% endif %}
    {% if categories.pets_welcome %}
        Pets Welcome<br>
    {% endif %}
    {% if categories.dartboard %}
        Dartboard<br>
    {% endif %}
    {% if categories.pool_tables %}
        Pool Tables<br>
    {% endif %}
    {% if categories.games_machines %}
        Games Machines<br>
    {% endif %}
    {% if categories.historic %}
        Historic Bar<br>
    {% endif %}
    {% if categories.wi_fi %}
        Free Wi-Fi<br>
    {% endif %}
    {% if categories.function_room %}
        Function Room<br>
    {% endif %}
    <br>
        {{ events.events }}<br><br>
    </h4>
        ​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​

    <a class="btn btn-primary" href="/the_watering_hole/review_bar/{{ bar.get_bar_url }}" > Review this Bar!</a>
    {% if reviews %}

            <h3>Reviews</h3>
            {% for review in reviews %}
            <div class="review">
                Posted by <b>{{ review.poster }}</b> on {{ review.date_posted }}:<br><br>
                {{ review.text_review }}<br><br>
                <b>{{ review.poster }}</b>'s ratings:<br><br>
                <p>
                &NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;Beats: {% if review.beats == 1 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif beats == 2 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif beats == 3 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif beats == 4 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif beats == 5 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                {% endif %}<br>
                &NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;Bucks:
                {% if bucks == 1 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif bucks == 2 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif bucks == 3 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif bucks == 4 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif bucks == 5 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                {% endif %}<br>
                BarStaff:  {% if barstaff == 1 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif barstaff == 2 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif barstaff == 3 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif barstaff == 4 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif barstaff == 5 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                {% endif %}<br>
            &NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;Booze:
            {% if booze == 1 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif booze == 2 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif booze == 3 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif booze == 4 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniEmptyShotIcon.png" %}"/>
                {% elif booze == 5 %}
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                <img src="{% static "MiniFullShotIcon.png" %}"/>
                {% endif %}<br>
                </p>
                <h4>Overall score by {{ review.poster }}:
                   {% if review.overall == 1 %}
                    <img src="{% static "MiniFullMugIcon.png" %}"/><img src="{% static "MiniEmptyMugIcon.png" %}"/><img src="
                    {% static "MiniEmptyMugIcon.png" %}"/><img src="{% static "MiniEmptyMugIcon.png" %}"/><img src="
                    {% static "MiniEmptyMugIcon.png" %}"/>
                {% elif review.overall == 2 %}
                    <img src="{% static "Mini.png" %}"/><img src="{% static "MiniFullMugIcon.png" %}"/><img src="
                    {% static "MiniEmptyMugIcon.png" %}"/><img src="{% static "MiniEmptyMugIcon.png" %}"/><img src="
                    {% static "MiniEmptyMugIcon.png" %}"/>
                {% elif review.overall == 3 %}
                    <img src="{% static "MiniFullMugIcon.png" %}"/><img src="{% static "MiniFullMugIcon.png" %}"/><img src="
                    {% static "MiniFullMugIcon.png" %}"/><img src="{% static "MiniEmptyMugIcon.png" %}"/><img src="
                    {% static "MiniEmptyMugIcon.png" %}"/>
                {% elif review.overall == 4 %}
                    <img src="{% static "MiniFullMugIcon.png" %}"/><img src="{% static "MiniFullMugIcon.png" %}"/><img src="
                    {% static "MiniFullMugIcon.png" %}"/><img src="{% static "MiniFullMugIcon.png" %}"/><img src="
                    {% static "MiniEmptyMugIcon.png" %}"/>
                {% elif review.overall == 5 %}
                    <img src="{% static "MiniFullMugIcon.png" %}"/><img src="{% static "MiniFullMugIcon.png" %}"/><img src="
                    {% static "MiniFullMugIcon.png" %}"/><img src="{% static "MiniFullMugIcon.png" %}"/><img src="
                    {% static "MiniFullMugIcon.png" %}"/>
                {% endif %}
                <br>
            {% if review.likes < 1 or review.likes > 1 %}
               <b id="like_count_{{review.id}}">{{ review.likes }}</b> likes so far
               {% else %}
                <b id="like_count_{{review.id}}">{{ review.likes }}</b> like so far
            {% endif %}
            {% if user.is_authenticated %}
                    <button id ="likes_{{review.id}}" data-catid="{{review.id}}" class="btn btn-mini btn-primary" type="button">
                    Like</button>
            {% endif %}
            </div>
            {% endfor %}



        {% else %}
            <strong>There are no reviews present for this bar.</strong>
    {% endif %}



    {% else %}
        The specified bar {{ bar_name }} does not exist!
    {% endif %}


{% endblock %}
