{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device.width, initial-scale=1.0">
        <!--Bootstrap -->
        <link href="{% static 'css/bootstrap-fluid.adj.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap18.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

        <title>The Watering Hole - {% block title %}Quenching the thirst of the urban savannah{% endblock %}</title>
    </head>

    <body>

        <!-- Navigation Bar -->

<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
       <div class="container">
           <img class="logo" src="/static/giraffe.png" height="70px" width="70px"/>
           <a class="brand" href="/the_watering_hole/">The Watering Hole</a>

           <div class="nav-collapse collapse">
               <ul class="nav pull-right">
                 {% if user.is_authenticated %}
                    <li display="inline"><a href="/the_watering_hole/add_bar/">Add a New Bar</a></li>
                    <li><a href="/the_watering_hole/logout/">Logout</a><br></li>
                    <li><a href="/the_watering_hole/profile_page/{{ user.username }}"/>Your Profile</a><br></li>
                 {% else %}
                    <li><a href="/the_watering_hole/register/">Register Here</a><br /></li>
                    <li><a href="/the_watering_hole/login/">Login</a><br /></li>
                 {% endif %}

                    <li><a href="/the_watering_hole/about/">About</a><br /></li>
               </ul>
           </div>
           <!--/.nav-collapse -->
       </div>
   </div>
</div>


        <!-- Side bar + main window -->
<div class="container-fluid">
    <br/>
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">

            <h2>Categories</h2>

            <p class="link"><a href="/the_watering_hole/sorted_index/beer_garden/">Beer Garden</a><p>
            <p class="link"><a href="/the_watering_hole/sorted_index/big_screen/" >Big Screen</a><p>
            <p class="link"><a href="/the_watering_hole/sorted_index/children_welcome/">Children Welcome</a><p>
            <p class="link"><a href="/the_watering_hole/sorted_index/dartboard/">Dartboard</a><p>
            <p class="link"><a href="/the_watering_hole/sorted_index/food/">Food</a><p>
            <p class="link"><a href="/the_watering_hole/sorted_index/function_room/">Function Room</a><p>
            <p class="link"><a href="/the_watering_hole/sorted_index/games_machine/">Games Machines</a><p>
            <p class="link"><a href="/the_watering_hole/sorted_index/historic/">Historic</a><p>
            <p class="link"><a href="/the_watering_hole/sorted_index/pets_welcome/">Pets Welcome</a><p>
            <p class="link"><a href="/the_watering_hole/sorted_index/pool_tables/">Pool Table</a><p>
            <p class="link"><a href="/the_watering_hole/sorted_index/real_ale/">Real Ale</a><p>
            <p class="link"><a href="/the_watering_hole/sorted_index/wifi/">WiFi</a><p>
            <p class="link"><a href="/the_watering_hole/sorted_index/whisky_collection/">Whiskey Collection</a><p>

            </div>
            <!div class="well sidebar-nav">
                <!-- Second sidebar if we have something to put in it, otherwise scrap this div -->
            <!/div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
        {% block body_block %}
        {% endblock %}

        {% for Bars in Bars %}
            <p class="link"><a href="/the_watering_hole/bar_page/{{ Bars.get_bar_url }}" >{{ Bars.name }}</a><p>
        {% endfor %}
        </div>
        <!-- /span -->
    </div>
    <!-- /row -->
</div>
<!-- Fluid container -->

        <hr />

    <footer>
        <div class="container">
            <p>&copy; Legless Industries 2013. Always be vigilant of cougars.</p>
        </div>
        <script src="{% static 'js/jquery-2.1.0.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>