{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device.width, initial-scale=1.0">
        <!--Bootstrap -->
        <link href="{% static 'css/bootstrap-fluid.adj.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap19.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

        <title>The Watering Hole - {% block title %}Quenching the thirst of the Urban Savannah{% endblock %}</title>
    </head>

    <body>

        <!-- Navigation Bar -->

<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
       <div class="container">
           <a href="/the_watering_hole/"><img class="logo" src="/static/giraffe.png"  height="70px" width="70px"/></a>
           <a class="brand" href="/the_watering_hole/">The Watering Hole</a>

           <div class="nav-collapse collapse navbar-responsive-collapse">
               <ul class="nav pull-right">
                 {% if user.is_authenticated %}
                    <li display="inline"><a href="/the_watering_hole/add_bar/">Add a New Bar</a></li>
                    <li><a href="/the_watering_hole/logout/">Logout</a><br></li>
                    <li><a href="/the_watering_hole/profile_page/{{ user.username }}"/>Your Profile</a><br></li>
                 {% else %}
                    <li><a href="/the_watering_hole/register/">Register Here</a><br /></li>
                    <li><a href="/the_watering_hole/login/">Login</a><br /></li>
                 {% endif %}

                    <li><a href="/the_watering_hole/about/">About</a><br /></li>
               </ul>
           </div>
           <!--/.nav-collapse -->
       </div>
   </div>
</div>


        <!-- Side bar + main window -->
<div class="container-fluid">
    <br/>
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">

            <h2>Bar Features</h2>
            <ul></ul>
            <li type="disc"><p class="link"><a href="/the_watering_hole/sorted_index/beer_garden/">Beer Garden</a><p>
            <li type="disc"><p class="link"><a href="/the_watering_hole/sorted_index/big_screen/" >Big Screen</a><p>
            <li type="disc"><p class="link"><a href="/the_watering_hole/sorted_index/children_welcome/">Children Welcome</a><p>
            <li type="disc"><p class="link"><a href="/the_watering_hole/sorted_index/dartboard/">Dartboard</a><p>
            <li type="disc"><p class="link"><a href="/the_watering_hole/sorted_index/food/">Food</a><p>
            <li type="disc"><p class="link"><a href="/the_watering_hole/sorted_index/function_room/">Function Room</a><p>
            <li type="disc"><p class="link"><a href="/the_watering_hole/sorted_index/games_machines/">Games Machines</a><p>
            <li type="disc"><p class="link"><a href="/the_watering_hole/sorted_index/historic/">Historic</a><p>
            <li type="disc"><p class="link"><a href="/the_watering_hole/sorted_index/pets_welcome/">Pets Welcome</a><p>
            <li type="disc"><p class="link"><a href="/the_watering_hole/sorted_index/pool_tables/">Pool Table</a><p>
            <li type="disc"><p class="link"><a href="/the_watering_hole/sorted_index/real_ale/">Real Ale</a><p>
            <li type="disc"><p class="link"><a href="/the_watering_hole/sorted_index/wi_fi/">WiFi</a><p>
            <li type="disc"><p class="link"><a href="/the_watering_hole/sorted_index/whisky_collection/">Whisky Collection</a><p>

            </div>
            <!div class="well sidebar-nav">
                <!-- Second sidebar if we have something to put in it, otherwise scrap this div -->
            <!/div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
        {% block body_block %}
        {% endblock %}

        {% for Events in Events %}
            <p class="link"><a href="/the_watering_hole/bar_page/{{ Events.bar.get_bar_url }}" >{{ Events.bar.name }}:
                {{ Events.bar.address }}</a><br>
            <br> <b>Rating:</b>
             {% if Events.bar.overall_rating == 1 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
             {% elif Events.bar.overall_rating == 2 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
                {% elif Events.bar.overall_rating == 3 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
                {% elif Events.bar.overall_rating == 4 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
                {% elif Events.bar.overall_rating == 5 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/>
                {% endif %}<br>
            <h4>News</h4>{{ Events.news }}<br>
            <h4>Events</h4>
            {{ Events.events }}<br><br><br>
        {% endfor %}
        </div>
        <!-- /span -->
    </div>
    <!-- /row -->
</div>
<!-- Fluid container -->

        <hr />

    <footer>
        <div class="container">
            <p>&copy; Legless Industries 2014. Always be vigilant of cougars.</p>
        </div>
        <script src="{% static 'js/jquery-2.1.0.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/the_watering_hole-ajax.js' %}"></script>
    </footer>
    </body>
</html>