{% extends 'the_watering_hole/base.html' %}
{% block title %}The Watering Hole - Quenching the Thirst of the Urban Savannah{% endblock %}

{% block body_block %}
<div class="hero-unit">

<h1>The Watering Hole</h1>
    <p><h3>Quenching the thirst of the Urban Savannah</h3></p>

    {% comment %}
    {% if Bars %}
            <ul>
                {% for Bars in Bars %}
                <li><a href="/the_watering_hole/bar_page/{{ Bars.get_bar_url }}" >{{ Bars.name }}</a></li>
                {% endfor %}
            </ul>
    {% else %}
            <strong>There are no bars present.</strong>
    {% endif %}
    {% endcomment %}

</div>
{% endblock %}

{% load static %} <!-- New line -->
