{% extends 'the_watering_hole/base.html' %}
{% load static %} <!-- New line -->
{% block title %}{{ user.username }}{% endblock %}

{% block body_block %}


    <h1>{{ user.username }}'s Watering Hole</h1>
    <img src="/media/{{ user_profile.picture }}" width = "200" height = "200"/><br>
    Your Email: {{ user.email }}<br>
    Your Website: <a href = "{{ user_profile.website }}">{{ user_profile.website }}</a><br>


    {% if user_uploaded_bars %}
    <h3>Your Bars</h3>
        {% for user_uploaded_bars in user_uploaded_bars %}
           <a href="/the_watering_hole/bar_page/{{ user_uploaded_bars.get_bar_url }}" >{{ user_uploaded_bars.name }}</a>
           <button class = "btn btn-default"><a href="/the_watering_hole/edit_bar/{{ user_uploaded_bars.get_bar_url }}">
               Edit this bar</a></button><br>
        {% endfor %}
    {% else %}
        You haven't uploaded any bars yet!
    {% endif %}

{% endblock %}
