{% extends 'the_watering_hole/base.html' %}
{% load static %}
{% block title %}The Watering Hole - Quenching the Thirst of the Urban Savannah{% endblock %}

{% block body_block %}
<div class="hero-unit">

<h1>The Watering Hole</h1>
    <p><h3>Quenching the thirst of the urban savannah</h3></p>

{% if category  == 'pool_tables' %}
       Fancy shooting some pool with your pint?<br>
       Bars with Pool Tables:<br><br>
   {% endif %}
   {%if category == 'children_welcome' %}
        Under 18 and don't have any ID?<br>
        Bars where children are welcome:<br><br>
    {% endif %}
    {%if category == 'beer_garden' %}
        Feel like a pint out in the sunshine?<br>
        Bars with Beer Gardens:<br><br>
    {% endif %}
    {%if category == 'big_screen' %}
        Want to watch the game?<br>
        Bars with big screens:<br><br>
    {% endif %}
    {%if category == 'dartboard' %}
        Fancy throwing weapons at a wall and pretending you're an athlete?<br>
        Bars with dartboards:<br><br>
    {% endif %}
    {%if category == 'food' %}
        Hungry?<br>
        Bars serving food:<br><br>
    {% endif %}
    {%if category == 'function_room' %}
        Want to book a room for an event?<br>
        Bars with function rooms:<br><br>
    {% endif %}
    {%if category == 'historic' %}
        Want to drink in the history?<br>
        Historic Bars:<br><br>
    {% endif %}
    {%if category == 'wi_fi' %}
        Want to leave the house and get a pint but not actually interact with anyone?<br>
        Bars with Wi-Fi:<br><br>
    {% endif %}
    {%if category == 'games_machines' %}
        Try your luck?<br>
        Bars with games machines:<br><br>
    {% endif %}
    {%if category == 'pets_welcome' %}
        Bringing your dog?<br>
        Bars where pets are welcome:<br><br>
    {% endif %}
    {%if category == 'real_ale' %}
        Somebody with taste...<br>
        Bars with real ales:<br><br>
    {% endif %}
    {%if category == 'whisky_collection' %}
        Looking for a dram?<br>
        Bars with whisky collections:<br><br>
    {% endif %}


    {% if matching_bars %}

        {% for bar in matching_bar_objs %}
           <a href="/the_watering_hole/bar_page/{{ bar.get_bar_url }}" >{{ bar.name }}: {{ bar.address }}</a><br>
           <b>Rating:</b>
             {% if bar.overall_rating == 1 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
             {% elif bar.overall_rating == 2 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
                {% elif bar.overall_rating == 3 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/><img src="{% static "EmptyMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
                {% elif bar.overall_rating == 4 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "EmptyMugIcon.png" %}"/>
                {% elif bar.overall_rating == 5 %}
                    <img src="{% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/><img src="{% static "FullMugIcon.png" %}"/><img src="
                    {% static "FullMugIcon.png" %}"/>
                {% endif %}<br><br>
        {% endfor %}
    {% else %}
        Sorry, there aren't any bars in this category right now.
    {% endif %}


</div>
{% endblock %}

{% load static %} <!-- New line -->
