{% extends 'the_watering_hole/base.html' %}
{% block title %}Home{% endblock %}

{% block body_block %}

<h1>The Watering Hole</h1>
    <p><h3>Quenching the thirst of the urban savannah!</h3></p>

    {% if Bars %}
            <ul>
                {% for name in Bars %}
                <li>{{ name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no bars present.</strong>
        {% endif %}

{% endblock %}

{% load static %} <!-- New line -->
